manifests/ECK/creds.txt
overwatch.code-workspace
.gitconfig
aks-kubeconfig.py
terraform/az-auto-scaleset-byol/.terraform
terraform/az-auto-scaleset-byol/.terraform.lock.hcl
terraform/az-auto-scaleset-byol/terraform.tfstate
terraform/az-auto-scaleset-byol/.terraform.tfstate.lock.info
terraform/az-auto-scaleset-byol/terraform.tfstate.backup
terraform/az-auto-scaleset-byol/terraform.tfstate.backup
terraform/az-auto-scaleset-byol/files/as3.json
terraform/az-auto-scaleset-byol/files/runtime-init.yaml
terraform/az-auto-scaleset-byol/terraform.tfvars
terraform/az-auto-scaleset-payg/.terraform
terraform/az-auto-scaleset-payg/.terraform.lock.hcl
terraform/az-auto-scaleset-payg/terraform.tfstate
terraform/az-auto-scaleset-payg/.terraform.tfstate.lock.info
terraform/az-auto-scaleset-payg/terraform.tfstate.backup
terraform/az-auto-scaleset-payg/terraform.tfstate.backup
terraform/az-auto-scaleset-payg/files/as3.json
terraform/az-auto-scaleset-payg/files/runtime-init.yaml
terraform/az-auto-scaleset-payg/terraform.tfvars
terraform/az-aks-cluster/.terraform.lock.hcl
terraform/az-aks-cluster/.terraform
terraform/az-aks-cluster/terraform.tfstate
terraform/az-aks-cluster/.terraform.tfstate.lock.info
terraform/az-aks-cluster/terraform.tfstate.backup
terraform/az-aks-cluster/terraform.tfvars
